:root {
    --base-color: var(--background-color);
}

body{
    background-color: var(--base-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    width:100%;
}

p {
    margin: 0;
}

html {
    background-color: var(--base-color);
    font-family: Verdana, serif;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}